<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Earth</h2>
    <strong>Description: </strong><%=   planetEarth.description  %> <br><br>
    <strong>Distance From Sun: </strong><%=   planetEarth.distanceFromSun  %> <br><br>
    <strong>One Earth Day: </strong><%=   planetEarth.oneEarthDay  %> <br><br>
    <strong>Year Length: </strong><%=   planetEarth.yearLength  %> <br><br>
    <strong>Radius: </strong><%=   planetEarth.radius  %> <br><br>
    <strong>Moons: </strong><%=   planetEarth.moons  %> <br><br>
    <strong>Link to planet website: </strong><%=   planetEarth.websiteLink  %> <br><br>
    <img src="<%= planetEarth.image %>">
    
    <%- include('partials/footer.ejs') %>

</body>
</html>
