<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Jupiter</h2>
    <strong>Description: </strong><%=   planetJupiter.description  %> <br><br>
    <strong>Distance From Sun: </strong><%=   planetJupiter.distanceFromSun  %> <br><br>
    <strong>One Earth Day: </strong><%=   planetJupiter.oneEarthDay  %> <br><br>
    <strong>Year Length: </strong><%=   planetJupiter.yearLength  %> <br><br>
    <strong>Radius: </strong><%=   planetJupiter.radius  %> <br><br>
    <strong>Moons: </strong><%=   planetJupiter.moons  %> <br><br>
    <strong>Link to planet website: </strong><%=   planetJupiter.websiteLink  %> <br><br>
    <img src="<%= planetJupiter.image %>" class="planet-img">

    <%- include('partials/footer.ejs') %>

</body>
</html>
