<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <div class="main">
        <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Mars</h2>
    <strong>Description: </strong><%=   planetMars.description  %> <br><br>
    <strong>Distance From Sun: </strong><%=   planetMars.distanceFromSun  %> <br><br>
    <strong>One Earth Day: </strong><%=   planetMars.oneEarthDay  %> <br><br>
    <strong>Year Length: </strong><%=   planetMars.yearLength  %> <br><br>
    <strong>Radius: </strong><%=   planetMars.radius  %> <br><br>
    <strong>Moons: </strong><%=   planetMars.moons  %> <br><br>
    <strong>Link to planet website: </strong><%=   planetMars.websiteLink  %> <br><br>
    <img src="<%= planetMars.image %>" class="planet-img"><br><br><br><br>
    <%- include('partials/footer.ejs') %>
    </div>

</body>
</html>
