<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Mercury</h2>
    <strong>Description: </strong><%=   planetMercury.description  %> <br><br>
    <strong>Distance From Sun: </strong><%=   planetMercury.distanceFromSun  %> <br><br>
    <strong>One Earth Day: </strong><%=   planetMercury.oneEarthDay  %> <br><br>
    <strong>Year Length: </strong><%=   planetMercury.yearLength  %> <br><br>
    <strong>Radius: </strong><%=   planetMercury.radius  %> <br><br>
    <strong>Moons: </strong><%=   planetMercury.moons  %> <br><br>
    <strong>Link to planet website: </strong><%=   planetMercury.websiteLink  %> <br><br>
    <img src="<%= planetMercury.image %>">

    <%- include('partials/footer.ejs') %>

</body>
</html>
