<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <div class="main">
        <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Neptune</h2>
    <strong>Description: </strong><%=   planetNeptune.description  %> <br><br>
    <strong>Distance From Sun: </strong><%=   planetNeptune.distanceFromSun  %> <br><br>
    <strong>One Earth Day: </strong><%=   planetNeptune.oneEarthDay  %> <br><br>
    <strong>Year Length: </strong><%=   planetNeptune.yearLength  %> <br><br>
    <strong>Radius: </strong><%=   planetNeptune.radius  %> <br><br>
    <strong>Moons: </strong><%=   planetNeptune.moons  %> <br><br>
    <strong>Link to planet website: </strong><%=   planetNeptune.websiteLink  %> <br><br>
    <img src="<%= planetNeptune.image %>" class="planet-img"> <br><br><br><br>

    <%- include('partials/footer.ejs') %>
    </div>
    

</body>
</html>
