<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Pluto</h2>
    <strong>Description: </strong><%=   planetPluto.description  %> <br><br>
    <strong>Distance From Sun: </strong><%=   planetPluto.distanceFromSun  %> <br><br>
    <strong>One Earth Day: </strong><%=   planetPluto.oneEarthDay  %> <br><br>
    <strong>Year Length: </strong><%=   planetPluto.yearLength  %> <br><br>
    <strong>Radius: </strong><%=   planetPluto.radius  %> <br><br>
    <strong>Moons: </strong><%=   planetPluto.moons  %> <br><br>
    <strong>Link to planet website: </strong><%=   planetPluto.websiteLink  %> <br><br>
    <img src="<%= planetPluto.image %>">

    <%- include('partials/footer.ejs') %>

</body>
</html>
