<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Saturn</h2>
    <strong>Description: </strong><%=   planetSaturn.description  %> <br><br>
    <strong>Distance From Sun: </strong><%=   planetSaturn.distanceFromSun  %> <br><br>
    <strong>One Earth Day: <%=   planetSaturn.oneEarthDay  %> <br><br>
    <strong>Year Length: </strong><%=   planetSaturn.yearLength  %> <br><br>
    <strong>Radius: </strong><%=   planetSaturn.radius  %> <br><br>
    <strong>Moons: </strong><%=   planetSaturn.moons  %> <br><br>
    <strong>Link to planet website: </strong><%=   planetSaturn.websiteLink  %> <br><br>
    <img src="<%= planetSaturn.image %>" class="planet-img">

    <%- include('partials/footer.ejs') %>

</body>
</html>
