<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Uranus</h2>
    <strong>Description: </strong><%=   planetUranus.description  %> <br><br>
    <strong>Distance From Sun: </strong><%=   planetUranus.distanceFromSun  %> <br><br>
    <strong>One Earth Day: </strong><%=   planetUranus.oneEarthDay  %> <br><br>
    <strong>Year Length: </strong><%=   planetUranus.yearLength  %> <br><br>
    <strong>Radius: </strong><%=   planetUranus.radius  %> <br><br>
    <strong>Moons: </strong><%=   planetUranus.moons  %> <br><br>
    <strong>Link to planet website: </strong><%=   planetUranus.websiteLink  %> <br><br>
    <img src="<%= planetUranus.image %>" class="planet-img">

    <%- include('partials/footer.ejs') %>

</body>
</html>
