<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Uranus</h2>
    <%=   planetUranus.description  %>
    <%=   planetUranus.distanceFromSun  %>
    <%=   planetUranus.yearLength  %>
    <%=   planetUranus.radius  %>
    <%=   planetUranus.websiteLink  %>
    <%=   planetUranus.oneEarthDay  %>
    <%=   planetUranus.moons  %>
    <img src="<%= planetUranus.image %>">

    <%- include('partials/footer.ejs') %>

</body>
</html>
