<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Uranus</h2>
    Description: <%=   planetUranus.description  %> <br><br>
    Distance From Sun: <%=   planetUranus.distanceFromSun  %> <br><br>
    One Earth Day: <%=   planetUranus.oneEarthDay  %> <br><br>
    Year Length: <%=   planetUranus.yearLength  %> <br><br>
    Radius: <%=   planetUranus.radius  %> <br><br>
    Moons: <%=   planetUranus.moons  %> <br><br>
    Link to planet website: <%=   planetUranus.websiteLink  %> <br><br>
    <img src="<%= planetUranus.image %>">

    <%- include('partials/footer.ejs') %>

</body>
</html>
