<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Venus</h2>
    <strong>Description: </strong><%=   planetVenus.description  %> <br><br>
    <strong>Distance From Sun: </strong><%=   planetVenus.distanceFromSun  %> <br><br>
    <strong>One Earth Day: </strong><%=   planetVenus.oneEarthDay  %> <br><br>
    <strong>Year Length: </strong><%=   planetVenus.yearLength  %> <br><br>
    <strong>Radius: </strong><%=   planetVenus.radius  %> <br><br>
    <strong>Moons: </strong><%=   planetVenus.moons  %> <br><br>
    <strong>Link to planet website: </strong><%=   planetVenus.websiteLink  %> <br><br>
    <img src="<%= planetVenus.image %>">

    <%- include('partials/footer.ejs') %>

</body>
</html>
